<div class="row">
  <h1><%= @user.username %></h1>
  <h2>About</h2>
  <div>
    <%= @description %>
  </div>
  <p>website: <%= @user.website %></p>
  <h2>Games</h2>
  <ul>
    <% @games.each do |game| %>
      <li><%= link_to(game.title, game) %></li>
    <% end %>
  </ul>
</div>
