<%#<% if @login.errors.any? %>%>
  <%#<div id="error_explanation">%>
    <%#<div class="alert alert-danger">%>
      <%#The form contains <%= pluralize(@login.errors.count, "error") %>.%>
    <%#</div>%>
    <%#<ul>%>
    <%#<% @login.errors.full_messages.each do |msg| %>%>
      <%#<li><%= msg %></li>%>
    <%#<% end %>%>
    <%#</ul>%>
  <%#</div>%>
<%#<% end %>%>
