<div class="container">
  <div class="row">
    <div class="col-xs-12" style="padding-top: 100px;">
      <center>
        <%= image_tag("allegro_planet_logo-01c.png") %>
        <h2>Allegro Planet</h2>
      </center>
    </div>
  </div>
</div>
