<nav>
  <ul>
    <li>
      <a href="/"><%= image_tag("allegro_planet_logo-01c.png", width: '80px') %><%= image_tag("allegro-planet-text-logo.svg", width: "300px") %></a>
    </li>

    <li><a href="/articles">Articles</a></li>
    <li><a href="/games">Games</a></li>
    <li><a href="/users">Users</a></li>
  </ul>
</nav>
